.special{
    background-color: cornflowerblue;
    color: black;
}
p{
    background-color: aqua;
}
img {
    width : 50%;
}
.one{
    font-size: xx-small;
    border-width: 4px;
    border-style: solid;
    border-color: blueviolet;
    background-color: beige;
    text-align: center;
}
.two{
    font-size: x-large;
    border-width: 4px;
    border-style: dashed;
    border-color: deeppink;
    background-color: mistyrose;
     text-align: center;
}
.top{
    padding: 40px;
    margin: 40px;
    border-width: 4px;
    border-style: solid;
    border-color: blueviolet;
    background-color: beige;
}
.bottom{
    padding: 40px;
    margin: 40px;
    text-align: center;
    border-width: 4px;
    border-style: dotted;
    border-color: blue;
    background-color: lightcyan;
}
.flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}